@model IEnumerable<Exer3App.Models.Book>
@{
    ViewData["Title"] = "Book List";
}

<h2>Danh sách sách</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Name</td>
            <td>@book.Price</td>
            <td>
                <a asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id" class="btn btn-sm btn-outline-primary">
                    Detail
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-controller="Book" asp-action="Create" class="btn btn-success">Thêm sách</a>
